h2 {
    color: black;
}

.black {
    color: black;
}
/* Silvermenu.css */

.silver-menu {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .silver-header h2 {
    font-size: 24px;
  }
  
  .food-categories {
    margin-bottom: 20px;
  }
  
  .food-categories h3 {
    font-size: 20px;
  }
  
  .food-categories ol {
    list-style-type: none;
    padding: 0;
  }
  
  .food-categories li {
    margin-bottom: 5px;
  }
  
  .food-items {
    margin-bottom: 20px;
  }
  
  .food-items h3 {
    font-size: 20px;
  }
  
  .food-items ol {
    list-style-type: none;
    padding: 0;
  }
  
  .food-items li {
    margin-bottom: 10px;
  }
  
  .item-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .item-number {
    font-weight: bold;
    margin-right: 10px;
  }

  /* Silvermenu.css */

/* Add cursor pointer for the food categories list items */
.food-categories ol li {
  cursor: pointer;
}

/* Change the style when hovering over the food categories list items */
.food-categories ol li:hover {
  background-color: #f0f0f0;
}

  