h2 {
  margin-right: 60px;
}
/* Silver.css */

.silver-menu {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Ensure the container takes up at least the height of the viewport */
}

.menu-container {
  margin-top: 20px;
}

.dish-table11 {
  width: 300%; /* Adjust width as needed */
  border-collapse: collapse;
  margin-top: 20px; /* Add some space between the menu and the table */
  margin-left: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.dish-table11 th,
.dish-table11 td {
  border: 1px solid #ddd;
  padding: 12px; /* Increase padding for better spacing */
  text-align: left;
}

.dish-table11 th {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
.dish-table11 tbody tr:hover {
  background-color: #f5f5f5;
}
