.hall-title{
    margin-left: 20px;
}

.hall {
    display: flex;
    /* Add styles for the hall div */
  }
  
  .hallkathmandu1,
  .hallbhaktapur1,
  .hallpatan1,
  .hallkritipur1 {
    flex: 1;
    padding-right: 80px;
    padding-bottom: 80px;
    margin-left: 20px;
    /* Add styles for individual halls */
  }
  
  .hallimages1 {
    height: 500px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 500px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    /* Add styles for the hall images */
  }



  .remove-hall-button {
    background-color: #ff6347; /* Red color for the button */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 16px; /* Font size */
    margin-right: 10px;
  }
  
  .remove-hall-button:hover {
    background-color: #cc4c3b; /* Darker red color on hover */
  }

  .add-hall-button {
    background-color: #008000; /* Green color for the button */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 16px; /* Font size */
    margin-right: 10px;
  }
  
  .add-hall-button:hover {
    background-color: #006400; /* Darker green color on hover */
  }
  
  